<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>Currículum</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <div class="image-logo">
                <img src="./images/Pagina1.png" alt="" class="img-header">
            </div>
            <div class="nav-content">
                <img src="./images/2Q.png" alt="" srcset="">
                <a href="index.html">Inicio</a>
                <a href="blandas.html">Habilidades Blandas</a>
                <a href="tecnicas.html">Habilidades Técnicas</a>
                <a href="#">Quienes somos</a>
            </div>
        </nav>
    </div>
    <header>
        <div>
            <div class="curved-div upper">
            </div>
            <div class="curved-div">
                <h2>Crea tu curriculum.</h2>
                <svg viewBox="0 0 1440 319">
                    <path fill="#fff" fill-opacity="1"
                        d="M0,32L48,80C96,128,192,224,288,224C384,224,480,128,576,90.7C672,53,768,75,864,96C960,117,1056,139,1152,149.3C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>
            </div>
    </header>

    <div class="curriculum">
        <h2 class="d-flex justify-content-center">Plantillas que podes utilizar, modificar, y descargar gratuitamente:</h2>
    </div>
<div class="images d-flex justify-content-center">
    <img src="./images/Cv1.PNG" alt="">
    <img src="./images/cv2.PNG" alt="">
    <img src="./images/cv3.PNG" alt="">
</div>



<footer>
    <div class="image-logo-fotter">
        <img src="./images/Footer.png" alt="" class="img-header">
    </div>
</footer>
</body>
</html>